* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
}
.container .exercise {
    width: 100%;
    height: 16.6%;
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
}
.container .exercise .doubleClick,
.container .exercise .hover {
    width: 500px;
    height: 50px;
    background: #ccc;
}
